@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --background: #FBF5FE;
  --primary: #AA7D77;
  --forecolor: #0A1B39;
  --dimmedforecolor: #CACACA;
  --foreground: #637381;
  --white: #FFFFFF;
  --sidebarcolor: #F2F3F6;
  --navbarbg: #F9FAFB;
  --totalUserFg: #2646a7;
  --totalUserBg: #98b1fb3a;
  --activeUserFg: #1fa04e;
  --activeUserBg: #90faa285;
  --totalRevenuFg: #f1aa2f;
  --totalRevenuBg: #fedea58f;
  --premiumUserFg: #f1aa2f;
  --premiumUserBg: #fedea58f;
  --newUserFg: #2e82c2;
  --newUserBg: #9bd2fd77;
  --titleFg: #212B36;
}


.dark {
  --background: #4e4d4d;
  --primary: #AA7D77;
  --forecolor: #FFFFFF;
  --dimmedforecolor: #ffffff;
  --foreground: #CCCCCC;
  --white: #4f4d4d;
  --sidebarcolor: #2D2D2D;
  --navbarbg: #333333;
  --totalUserFg: #98b1fb;
  --totalUserBg: #2646a73a;
  --activeUserFg: #90faa2;
  --activeUserBg: #1fa04e85;
  --totalRevenuFg: #fedea5;
  --totalRevenuBg: #f1aa2f8f;
  --premiumUserFg: #fedea5;
  --premiumUserBg: #f1aa2f8f;
  --newUserFg: #9bd2fd;
  --newUserBg: #2e82c277;
  --titleFg: #FFFFFF;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep the functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* styles/dashboard.module.css */

.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Sidebar style */
.sidebar {
  width: 250px;  /* Adjust the width of your sidebar */
  background-color: #333;
  color: white;
  padding: 20px;
  /* Add other sidebar-specific styles */
}

/* Main content area */
.main-content {
  flex-grow: 1; /* This will make the main content take up the remaining width */
  display: flex;
  flex-direction: column;
}

/* Navbar area */
.navbar {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main content of the page */
.dashboard-main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
